<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>Fractal Viewer</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
        <!-- development version, includes helpful console warnings -->
        
        <style>
            body { margin: 0; background-color: #000; color: #fff; overflow: hidden; font-family: "Roboto", sans-serif; }
            #ui { position: fixed; top: 0; right: 0; padding: 25px; width: 400px; background-color: rgba(0,0,0,.75); }
            #ui small { color: #888; margin: 16px 0; display: block; }
            table { width: 100%; }
            table td { padding: 5px; }
            input { padding: 3px; border: 1px #fff solid; border-radius: 3px; background-color: #ddd; font-family: "Roboto"; width: 100%;}
            
            /*canvas { width: 100%; height: 100%;  }*/ 
        </style>
    </head>
    <body>   

        <div id="app">
            <div id="renderer"></div>
            <div id="ui">
                <b>Fractal Viewer</b><br/>
                <small>The algorithm is implemented as a shader in GLSL. The rendering is done with OpenGL and Three.js, which means it runs on the GPU.</small>
                <table>
                    <tbody>
                        <tr>
                            <td style="width: 150px">Fractal</td>
                            <td><input type="text" disabled v-model="fractal"/></td>
                        </tr>
                        <tr>
                            <td>Julia</td>
                            <td><input type="checkbox" v-model="julia"/></td>
                        </tr>
                        <tr>
                            <td>Time</td>
                            <td>{{ time }}</td>
                        </tr>
                        <tr>
                            <td>Position (WASD)</td>
                            <td>x: <input style="width: 60px;" v-model="position.x"/> y: <input style="width: 60px;" v-model="position.y"/></td>
                        </tr>
                        <tr>
                            <td>Rotation(R/F)</td>
                            <td><input type="range" min="0" max="360" step="0.5" v-model="rotation"/></td>
                        </tr>
                        <tr>
                            <td>Zoom (E/Q)</td>
                            <td><input v-model="zoom"/></td>
                        </tr>
                        <tr>
                            <td>Samples</td>
                            <td><input v-model="samples"/></td>
                        </tr>
                        <tr>
                            <td>Max. iterations (T/G)</td>
                            <td><input v-model="maxIterations"/></td>
                        </tr>
                        <tr>
                            <td>Threshold</td>
                            <td><input v-model="threshold"/></td>
                        </tr>
                        <tr>
                            <td>Animate</td>
                            <td><input type="checkbox" v-model="animate"/></td>
                        </tr>
                        <tr>
                            <td>Animaton speed</td>
                            <td><input type="range" min="0" max="3" step="0.05" v-model="animationSpeed"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>     

        <script id="vertexShader" type="x-shader/x-vertex">

            void main() {
                gl_Position = vec4( position, 1.0 );
            }

        </script>

        <script id="fragmentShader" type="x-shader/x-fragment">

            uniform float u_time;
            uniform vec2 u_resolution;
            uniform vec2 u_mouse;
            uniform bool u_julia;
            uniform vec2 u_position;
            uniform float u_rotation;
            uniform float u_zoom;
            uniform float u_samples;
            uniform float u_max_iter;
            uniform float u_threshold;
            uniform bool u_animate;
            uniform float u_animate_speed;
            
            #define AA 4.
            #define MAX_ITER 1024.
            #define THRESHOLD 128.
            #define LN2 0.6931471806
            
            // Palette
            
            struct palette {
                vec3 c0, c1, c2, c3, c4;
            };
            
            palette palette_blue() {
                palette p; 
                p.c0 = vec3(0,2,5)/255.;
                p.c1 = vec3(8,45,58)/255.;
                p.c2 = vec3(38,116,145)/255.;
                p.c3 = vec3(167,184,181)/255.;
                p.c4 = vec3(207,197,188)/255.;
                return p;    
            }
            
            // Random
            
            float random (in vec2 st) {
                return fract(sin(dot(st.xy, vec2(12.9898,78.233)))* 43758.5453123);
            }
            
            float randSeed = 0.;
            vec2 nextRand2() {
                vec2 v = vec2( randSeed++, randSeed++ );
                return vec2( random( v+0.34 ), random( v+0.75 ) );
            }
            
            // Mapping
            
            vec3 cmap( float t, palette p ) {
                vec3 col = vec3(0);
                col = mix( p.c0,  p.c1, smoothstep(0. , .2, t));
                col = mix( col, p.c2, smoothstep(.2, .4 , t));
                col = mix( col, p.c3, smoothstep(.4 , .6, t));
                col = mix( col, p.c4, smoothstep(.6,  .8, t));
                col = mix( col, p.c0, smoothstep(.8, 1.,  t));
                return col;
            }
            
            
            float bship(vec2 uv) {
                
                float a = u_rotation;
                mat2 rot = mat2(cos(a),-sin(a),sin(a),cos(a));
                uv += rot*u_position;

                vec2 z = u_julia ? uv : vec2(0),
                     c = u_julia ? vec2(0.5971,-0.9370) : uv;

                float i = .0;
                
                for(float j=0.; j < 10000. ; j++) {
                    // z = ( |Re(z)| + i|Im(z)| )^2   
                    if(j > u_max_iter) break;
                    z = abs(z);
                    z = mat2(z, -z.y, z.x) * z + c;
                    if( dot(z,z) > u_threshold ) break;
                    i=j;
                }
                
                return i - log(log(dot(z,z))/LN2)/LN2;	    
            }
            
            void main(void)
            {
                vec2 R = u_resolution;
            
                palette pal = palette_blue();
                vec3 col = vec3(0);
                float a = u_rotation;
                mat2 rot = mat2(cos(a),-sin(a),sin(a),cos(a));
            
                for(float i=0.; i < 10000.; i++) {
                    if(i > u_samples) break;
                    vec2 p = u_zoom * rot * ( (2. * (gl_FragCoord.xy + nextRand2()) - R ) / R.y );
                    float orbit = bship(p) / u_max_iter;
                    float f = fract( 10.*orbit );
                    float t = 0.0;
                    if(u_animate) t = u_animate_speed * u_time;
                    col += cmap( fract(f + t)-0.0001 , pal); 
                }
                
                col /= u_samples;
            
                gl_FragColor = vec4(col, 1.0);
            }

        </script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="three.min.js"></script>
        <script src="app.js"></script>
        <script>
            let app = new FractalViewer('renderer', 'app');
            let animate = function() {
                requestAnimationFrame(animate);
                app.render();
            }
            animate();
        </script>

    </body>
</html>